@font-face {
    font-family: 'DB HeaventRounded';
    src: url('DBHeaventRounded.eot');
    src: url('DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('DBHeaventRounded.woff2') format('woff2'),
        url('DBHeaventRounded.woff') format('woff'),
        url('DBHeaventRounded.ttf') format('truetype'),
        url('DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

