/* content */

.cardcon{
    margin: 30px;
    padding-top: 50px;
}

.cardcon a {
    text-decoration: none !important; 
    color: black !important;

}
.cardcon p {
    font-size: 10px;
    
}

.product{
    position: relative;

}

.productNew {
    position: absolute;
    top: 50px;
    right: 0.1cm;
}




@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.prompt-light {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .pag a {
    color: #4D5D48;
    border: 1px solid #4D5D48;
    float: left;
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
  }
  
  .pag a.active {
    background-color: #4D5D48 !important;
    color: white !important;
  }

  .pagination a:hover:not(.active) {
     background-color: #c0eeb3;
     border: 1px solid #c0eeb3;
}
